*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

h1{
    font-family: Merriweather;
    color: #ae2106;
}

header{
    background-color: #D2691E;
    height: 8rem;  
     display: flex;
     align-items: center;
     justify-content: center;
    
}

.primeira img{
    width: 30rem;
}

.primeira p{
    max-width: 20rem;
    margin-right: 2rem;
}

.primeira{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.segunda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7b9971;
    height: 20rem;
    
}

.segunda img{
    width: 26rem;
    justify-content: center;
    align-items: center;
}

.segunda p{
    max-width: 15rem;
    margin-right: 5rem;
    justify-content: center;
    align-items: center;
    color: #2e511f;
}

.terceira{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.terceira img{
    width: 25rem;
    height: 15rem;
    height: auto;
    margin-bottom: 3.5rem;
}

.segunda, .terceira{
    margin-bottom: 3.5rem;
}
